/* general text formatting */
body {
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    background-image: url('Images/film.png');
    background-color: #ECEFF1;

}

section {
  background-color: #B8A5D2;
  height: 400px;
  padding: 15pt;
  margin-left: 2rem;
  margin-right: 2rem;
}

#javaSection {
  background-color: #B8A5D2;
  height: 400px;
  padding: 15pt;
  margin-left: 2rem;
  margin-right: 2rem;
  overflow-y: scroll;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid white;
  background-color: #4472C4;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #CFD5EA;
}
tr:nth-child(odd) {
  background-color: #EAEBF4;
}

tbody tr:hover{
  background-color: lightblue;
  color: black;
}

.btn-float-right{
float: right;
}

#pageButtons {
  border: none;
  color: #4472C4;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 50px;
  width: 320px;
}

#buttons {
  border: none;
  color: #4472C4;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 30px;
  width: 120px;
}

#buttons, #home, #search, #theater, #add, #edit, #delete, #filter, #mTable, #castTable, #crewTable, #pTable, #sTable, #pageButtons{
  background-color: #4472C4; 
  color: black; 
  border: 2px solid black;
}

#buttons:hover, #home:hover, #search:hover, #theater:hover, #add:hover, #edit:hover, #delete:hover, #filter:hover, #mTable:hover, #castTable:hover, #crewTable:hover, #pTable:hover, #sTable:hover, #pageButtons:hover{
background-color: white;
  color: black;
}

.filter-button  {
  background-color: #3f51b5; 
  color: white; 
  font-weight: 600;
  border: 5px solid #c5cae9;
  font-size: 15px;
  width: 150px;
  height: 110px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}

.filter-button:hover {
  background-color: #eceff1;
  color: #3f51b5;
  border: 5px solid #3f51b5;
}

.filter-button-container {
  position: relative;
  bottom: 0;
}

#home{
border: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: url('Images/homeIcon.png');
  background-repeat: 3px 5px no-repeat;
}

#search{
  border: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: url('Images/searchIcon.png');
    background-repeat: 3px 5px no-repeat;
  }

  #theater{
    border: none;
      display: inline-block;
      transition-duration: 0.4s;
      cursor: pointer;
      height: 30px;
      width: 30px;
      background: url('Images/theaterIcon.png');
      background-repeat: 3px 5px no-repeat;
    }

#add{
  border: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: url('Images/addIcon2.jpg');
    background-repeat: 3px 5px no-repeat;
  }

#edit{
  border: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: url('Images/editIcon.png');
    background-repeat: 3px 5px no-repeat;
  }

#delete{
  border: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: url('Images/xIcon.jpg');
    background-repeat: 3px 5px no-repeat;
  }

  #filter{
    border: none;
      display: inline-block;
      transition-duration: 0.4s;
      cursor: pointer;
      height: 30px;
      width: 30px;
      background: url('Images/filterIcon.png');
      background-repeat: 3px 5px no-repeat;
    }

#mTable{
border: none;
display: inline-block;
transition-duration: 0.4s;
cursor: pointer;
height: 30px;
width: 30px;
background: url('Images/movieIcon.png');
background-repeat: 3px 5px no-repeat;
}
#castTable{
border: none;
display: inline-block;
transition-duration: 0.4s;
cursor: pointer;
height: 30px;
width: 30px;
background: url('Images/castIcon.jpg');
background-repeat: 3px 5px no-repeat;
}
#crewTable{
border: none;
display: inline-block;
transition-duration: 0.4s;
cursor: pointer;
height: 30px;
width: 30px;
background: url('Images/crewIcon.png');
background-repeat: 3px 5px no-repeat;
}
#pTable{
border: none;
display: inline-block;
transition-duration: 0.4s;
cursor: pointer;
height: 30px;
width: 30px;
background: url('Images/personIcon.png');
background-repeat: 3px 5px no-repeat;
}
#sTable{
border: none;
display: inline-block;
transition-duration: 0.4s;
cursor: pointer;
height: 30px;
width: 30px;
background: url('Images/showtimeIcon.png') no-repeat;
background-repeat: 3px 5px no-repeat;
}

#pageTable {
  margin: 0;
  padding: 0;
}

/* changed from an ID to a Class as it is used multiple times - eeh 4/16/24 */
.numInput{
  height: 25px;
  width: 200px;
  cursor: pointer;
}

#descInput{
  height: 25px;
  width: 500px;
  cursor: pointer;
}

/* Changed to a class as it is used multiple times - eeh 4/16/24 */
.dropDown{
height: 30px;
width: 200px;
cursor: pointer;
}

/* footer section with author's names, etc eeh, 4/16/24*/
footer {
  text-align: center;
  font-weight: bold;
}

/* Created a class for the * font color to be in the CSS and not in the HTML - eeh 4/16/24 */
.star {
  color: #FF0000; /* red */
}
