/* general text formatting */
body {
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    background-image: url('Images/film.png');
    background-color: #ECEFF1;

}

section {
    background-color: black;
 }


 #movieDivTitle {
    background-color: #9271BC;
    height: 50px;
    text-align: center;
    padding: 15pt;
}

#movieTitle{
    color: black;
    text-align: center;
    font-size:30px;
}

#moviePages{
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: #9271BC;
    margin-left: 10rem;
    margin-right: 10rem;
    height: 250px;
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    border: 1px solid white;
    background-color: #4472C4;
    text-align: left;
    padding: 8px;
  }

  td {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #CFD5EA;
  }
  tr:nth-child(odd) {
    background-color: #EAEBF4;
  }

tbody tr:hover{
    background-color: lightblue;
    color: black;
}

.filter-button  {
  background-color: #3f51b5; 
  color: white; 
  font-weight: 600;
  border: 5px solid #c5cae9;
  font-size: 15px;
  width: 270px;
  height: 70px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}

.filter-button:hover {
  background-color: #eceff1;
  color: #3f51b5;
  border: 5px solid #3f51b5;
}

.filter-button-container {
  position: relative;
  bottom: 0;
}


#pageButtons {
  border: none;
  color: #4472C4;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 50px;
  width: 320px;
}

#pageButtons{
  background-color: #4472C4; 
  color: black; 
  border: 2px solid black;
}

#pageButtons:hover{
  background-color: white;
    color: black;
  }

  #pageTable {
    margin: 0;
    padding: 0;
  }