<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
  
   <servlet>
     <servlet-name>movie_reg</servlet-name>
     <servlet-class>movie_reg</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>movie_reg</servlet-name>
     <url-pattern>/movie_reg</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>movie_upd</servlet-name>
     <servlet-class>movie_upd</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>movie_upd</servlet-name>
     <url-pattern>/movie_upd</url-pattern>
  </servlet-mapping>
  
 <servlet>
     <servlet-name>movieJdbc</servlet-name>
     <servlet-class>movieJdbc</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>movieJdbc</servlet-name>
     <url-pattern>/movieJdbc</url-pattern>
  </servlet-mapping>
 
  <servlet>
  <servlet-name>movie_del</servlet-name>
     <servlet-class>movie_del</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>movie_del</servlet-name>
     <url-pattern>/movie_del</url-pattern>
  </servlet-mapping>







   <servlet>
     <servlet-name>person_upd</servlet-name>
     <servlet-class>person_upd</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>person_upd</servlet-name>
     <url-pattern>/person_upd</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>person_reg</servlet-name>
     <servlet-class>person_reg</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>person_reg</servlet-name>
     <url-pattern>/person_reg</url-pattern>
  </servlet-mapping>
  
 <servlet>
     <servlet-name>personJdbc</servlet-name>
     <servlet-class>personJdbc</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>personJdbc</servlet-name>
     <url-pattern>/personJdbc</url-pattern>
  </servlet-mapping>
 
  <servlet>
  <servlet-name>person_del</servlet-name>
     <servlet-class>person_del</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>person_del</servlet-name>
     <url-pattern>/person_del</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
     <servlet-name>cast_reg</servlet-name>
     <servlet-class>cast_reg</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>cast_reg</servlet-name>
     <url-pattern>/cast_reg</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>cast_del</servlet-name>
     <servlet-class>cast_del</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>cast_del</servlet-name>
     <url-pattern>/cast_del</url-pattern>
  </servlet-mapping>
  
 <servlet>
     <servlet-name>castJdbc</servlet-name>
     <servlet-class>castJdbc</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>castJdbc</servlet-name>
     <url-pattern>/castJdbc</url-pattern>
  </servlet-mapping>
  
   <servlet>
     <servlet-name>cast_upd</servlet-name>
     <servlet-class>cast_upd</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>cast_upd</servlet-name>
     <url-pattern>/cast_upd</url-pattern>
  </servlet-mapping>

  
  
  <servlet>
     <servlet-name>crew_reg</servlet-name>
     <servlet-class>crew_reg</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>crew_reg</servlet-name>
     <url-pattern>/crew_reg</url-pattern>
  </servlet-mapping>


 <servlet>
     <servlet-name>crewJdbc</servlet-name>
     <servlet-class>crewJdbc</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>crewJdbc</servlet-name>
     <url-pattern>/crewJdbc</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>crew_del</servlet-name>
     <servlet-class>crew_del</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>crew_del</servlet-name>
     <url-pattern>/crew_del</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>crew_upd</servlet-name>
     <servlet-class>crew_upd</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>crew_upd</servlet-name>
     <url-pattern>/crew_upd</url-pattern>
  </servlet-mapping>

 
  


  <servlet>
     <servlet-name>showtimes_reg</servlet-name>
     <servlet-class>showtimes_reg</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>showtimes_reg</servlet-name>
     <url-pattern>/showtimes_reg</url-pattern>
  </servlet-mapping>


 <servlet>
     <servlet-name>showtimesJdbc</servlet-name>
     <servlet-class>showtimesJdbc</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>showtimesJdbc</servlet-name>
     <url-pattern>/showtimesJdbc</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>showtimes_del</servlet-name>
     <servlet-class>showtimes_del</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>showtimes_del</servlet-name>
     <url-pattern>/showtimes_del</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>showtimes_upd</servlet-name>
     <servlet-class>showtimes_upd</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>showtimes_upd</servlet-name>
     <url-pattern>/showtimes_upd</url-pattern>
  </servlet-mapping>



   <servlet>
     <servlet-name>filter_one</servlet-name>
     <servlet-class>filter_one</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_one</servlet-name>
     <url-pattern>/filter_one</url-pattern>
  </servlet-mapping>  
  
   <servlet>
     <servlet-name>filter_two</servlet-name>
     <servlet-class>filter_two</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_two</servlet-name>
     <url-pattern>/filter_two</url-pattern>
  </servlet-mapping>

   <servlet>
     <servlet-name>filter_three</servlet-name>
     <servlet-class>filter_three</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_three</servlet-name>
     <url-pattern>/filter_three</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>filter_four</servlet-name>
     <servlet-class>filter_four</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_four</servlet-name>
     <url-pattern>/filter_four</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>filter_five</servlet-name>
     <servlet-class>filter_five</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_five</servlet-name>
     <url-pattern>/filter_five</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>filter_six</servlet-name>
     <servlet-class>filter_six</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_six</servlet-name>
     <url-pattern>/filter_six</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>filter_seven</servlet-name>
     <servlet-class>filter_seven</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_seven</servlet-name>
     <url-pattern>/filter_seven</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>filter_eight</servlet-name>
     <servlet-class>filter_eight</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_eight</servlet-name>
     <url-pattern>/filter_eight</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>filter_nine</servlet-name>
     <servlet-class>filter_nine</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_nine</servlet-name>
     <url-pattern>/filter_nine</url-pattern>
  </servlet-mapping>

  <servlet>
     <servlet-name>filter_ten</servlet-name>
     <servlet-class>filter_ten</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>filter_ten</servlet-name>
     <url-pattern>/filter_ten</url-pattern>
  </servlet-mapping>








</web-app>


